          <div class="card">
            <img src="{{product.payload.val().imageUrl}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{product.payload.val().title}}</h5>
              <p class="card-text">{{product.payload.val().price | currency:'USD'}}</p>
            </div>
            <div *ngIf="showActions && shoppingCart" class="card-footer">
              <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
              (click)="addToCart()"
              class="btn btn-secondary btn-block">Add to Cart</button>
              <ng-template #updateQuantity>
                <product-quantity [product]="product" [shopping-cart]="shoppingCart"></product-quantity>
              </ng-template>
            </div>
          </div>
