<p>
  <a routerLink="/admin/products/new" class="btn btn-primary">New Product</a>
</p>

<div>
  <input #query type="text" name="search" class="form-control" placeholder="Search..." (keyup)="filter(query.value)">
</div>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of filteredProducts">
      <td>{{p.payload.val().title}}</td>
      <td>{{p.payload.val().price}}</td>
      <td>
        <a [routerLink]="['/admin/products/', p.key]">Edit</a>
        <!-- <p (click)="delete(p.key)" p.key]>Delete</p> -->
      </td>
    </tr>
  </tbody>
</table>
